.page-bg {
    background-image: url(../bg-img/Steampunk_room06.png);
    height: 100vh;
}

.card {
    width: 50%;
    padding: 2vw;
    text-align: center;
    margin-top: 10vh;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100vw;

    .card-content {
        .textField {
            margin-bottom: 10px;
        }
        
        .btnField {
            background-color: #AD9510;
            color: #fcfcfc;
            margin-top: 2em;
            margin-bottom: 2em;
        }
    
        .btnField:hover {
            background-color: #9D9876;
            color: #fcfcfc;
        }
    }
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: #343530 !important;
    opacity: 90% !important;
    color: #fcfcfc !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: #fcfcfc !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #fcfcfc !important;
}