.image-box {
  background-color: #fcfcfc;
  padding: 3em;
}

.work-info-box {
  margin: auto;
  width: 70%;
}

@media (max-width: 844px){
  .image-box{
    padding: 1em;
  }
  .work-info-box {
    width: 100%;
  }

}