.page-bg {
    background-image: url(../bg-img/Steampunk_room06.png);
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    .formWrapper {
        margin: auto;
        max-width: 50vw;
        background-color: #343530;
        opacity: 90%;
        padding: 3em 5em 3em 5em;  
        color: #fcfcfc;

        .title {
            color: #E2AE2A;
            font-family: 'Bebas Neue', cursive;
        }

        .form-label {
            font-size: small;
            margin-bottom: 0.1rem;
            color: #fcfcfc;
        }

        
        .btnField{
            width: 100%;
            margin-top: 2em;
            margin-bottom: 2em;
            background-color: #E2AE2A;
            border: #E2AE2A;
            color: #fcfcfc;
            font-weight: 700;
        }
        
        .btnField:hover{
            background-color: #F7DFA0;
            border: #F7DFA0;
        }

        a {
            text-decoration: none;
            color: #E2AE2A;
        }
        
        .linkText:hover {
            background-color: #fcfcfc;
            opacity: 30%;
            padding: 3px;
            border-radius: 4px;
        }
    }

}

@media (max-width: 992px){
    .page-bg {
        height: 100%;
        .formWrapper {
            margin: auto;
            padding: 1em 3em 1em 3em;  
            max-width: 100vw;
            width: 100vw;
        }

    }
}