.profile-box {
    margin: auto;
    background-color: #343530;
    width: 80vw;
    //padding: 3em;
    color: #fcfcfc;

    .profile-header {
        width: 100%;
        position: relative;

        .user-display{
            position: absolute;
            bottom: -80px;
            padding: 0 10%;
        }
    }

    .profile-container {
        margin: auto;
        width: 80%;
        margin-top: 6em;
    }
   
    .btn-submit {
        background-color: #AD9510;
        border-color: #AD9510;
        color: #fcfcfc;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .btn-submit:hover {
        background-color: #9D9876;
        border-color: #9D9876;
        color: #fcfcfc;
    }

}

@media (max-width: 992px){
    .profile-box {      
        width: 100vw;

    }
}