* {
    margin: 0;
    padding: 0;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #AD9510;
    overflow:hidden;
    
    .circle {
        position: absolute;
    }
    
    .circle1 {
        z-index: 4;
    }

    .circle2 {
        z-index: 3;
    }
    
    .circle3 {
        z-index: 2;
    }

    .startLogo{
        z-index: 5;
    }
    .buttonGroup {
        z-index: 6;
        display: flex;
        flex-direction: row;
        align-self:flex-end;
        margin-bottom: 15em;
        

        .btn {
            font-weight: 700;
            text-decoration: none;
            margin: 10px;
            background-color: #7B7C71;
            color: #fcfcfc;
            width: 15em;
        }

        .btn:hover {
            background-color: #9D9876;
            
        }    
    }
}


@media (max-width: 844px) {

    .circles {

        .startLogo{
            width: 80vw;
        }
    
        .buttonGroup {
            display: flex;
            flex-direction: column;
            margin-bottom: 5em;
            
            .btn {
                width: 80vw;
            }
        }
    }
}