.rti--container {
    --rti-bg: #fff;
    --rti-border: #ccc;
    --rti-main: #3182ce;
    --rti-radius: .375rem;
    --rti-s: .5rem;
    --rti-tag: #AD9510;
    --rti-tag-remove: #343530;
    --rti-tag-padding: .15rem .25rem;
    align-items: center;
    background: var(--rti-bg);
    border: 1px solid var(--rti-border);
    border-radius: var(--rti-radius);
    display: flex;
    flex-wrap: wrap;
    gap: var(--rti-s);
    line-height: 1.4;
    padding: var(--rti-s);

    button {
        color:#fcfcfc
    }
}

.uploadWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .formWrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        max-width: 50vw;
        background-color: #343530;
        opacity: 90% !important;
        padding: 3em;
        color: #fcfcfc;

        .radioWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 9px;
            align-items: center;   
            border: 1px solid #fcfcfc;
            background-color: #fcfcfc;
            font-weight: 400;
            font-size: 1rem;
            border-radius: 4px; 
            
            .label {
                padding-left: 6px
            }
        }
    }

    .textField {
        margin-bottom: 2em;
    }

    .bgColor {
        background-color: #fcfcfc;
        border-radius: 4px;
    }

    .label {
        color: #9D9876;
    }

    .btnSave {
        background-color: #AD9510;
        border-color: #AD9510;
        color: #fcfcfc;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .btnSave:hover {
        background-color: #9D9876;
        border-color: #9D9876;
        color: #fcfcfc;
    }

    .formRadio {
        display: flex;
        justify-content: space-between;
    }
}

// Dropzone
.outerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 36px;
    color: #fcfcfc;
    background-color: #343530;
    margin-bottom: 2em;
    
    .outerBox h2 {
      font-weight: 600;
      margin-top: 5px;
    }
    
    .imageUplodeBox {
      border: 2px dashed #fcfcfc;
      padding: 35px 60px;
      position: relative;
      margin-bottom: 1.5em;

      .imageUploadInput {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      
      .imageLogoAndText p {
        margin-bottom: 0px;
      }
    }

    .img-thumbnail{
        width: 30vw;
        background-size: cover;
        border: none;
        border-radius: 0;
    }
    
}
  

  @media (max-width: 992px){
    .uploadWrapper {
        margin: auto;
        background-size: cover;
        
        .formWrapper {
            margin: auto;
            padding: 1em 3em 1em 3em;  
            max-width: 100vw;
            width: 100vw;
        }

    }
}
